body{
  font-family: Arial;
  text-align: center;
  margin-top: 50px;
}

.button-container{
  margin-bottom: 30px;
}

.button-container button{
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}

.image-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.image-container img{
  width: 120px;
  cursor: pointer;
  border: 2px solid black;
}


.section{
  display: none;
  margin-top: 30px;
  font-size: 25px;
}