.gallery{
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.gallery img{
  width: 320px;
  height: 320px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.gallery img.active{
  width: 420px;
  height: 420px;
}