.slider {
  position: relative;
  width: 700px;
  height: 700px;
  margin: 20px auto;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.slide.active {
  opacity: 1;
}

.buttons {
  text-align: center;
}